{% extends "base.html" %}
{%block title%} Formulario {% endblock title%}
{% block content%}

<!-- 
<form method="POST" action="">
    <div class="mb-3">
        
    
    {% csrf_token %}
    {{formulario.as_p}}
    <button type="submit"> Enviar </button>
</div>
    
</form> -->

<form action="" method="POST">
    {% csrf_token %}
    
    
    <div class="form-group">
        <label for="{{ form.titulo }}">Título</label>
        {{ formulario.titulo }}
    </div>
    <div class="form-group">
        <label for="{{ formulario.contenido.id_for_label }}">Descripción</label>
        {{ formulario.contenido }}
    </div>
    <div class="form-group">
        <label for="{{ form.autor }}">Autor</label>
        {{ formulario.autor }}
    </div>
    <div class="form-group">
        <label for="{{ form.fecha_publicacion }}">Fecha publicacion</label>
        {{ formulario.fecha_publicacion }}
    </div>

    
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock%}