{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="principal_descripcion">
    <div class="contenido_descripcion">
        <div class="info_descripcion">
            
            <h1>{{ publicacion.titulo|title }}</h1>
            <p>{{ publicacion.contenido }}</p>
            <hr>
            
        </div>
        
        <div class="autor-publi">
            
            <h5>{{publicacion.autor}}</h5>
            <h6>{{publicacion.fecha_publicacion}}</h6>
        </div>
        
        
        
    </div><!--conten-->
</div> <!--principal-->
<div class="botones">
    
    <a href= "{% url 'editar' publicacion.id %} "class="boton_editar" >Editar</a>
<a href= "{% url 'editar' publicacion.id %} "class="boton_editar" >Eliminar</a>
</div>
{% include "footer.html" %}
{% endblock %}