{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="principal">
    <div class="conten">
        <div class="todo">
            
            <h1>{{ publicacion.titulo }}</h1>
            <p>{{ publicacion.contenido }}</p>
            <hr>
            
        </div>
        
        <div class="autor-publi">
            
            <h5>{{publicacion.autor}}</h5>
            <h6>{{publicacion.fecha_publicacion}}</h6>
        </div>
        

    </div><!--conten-->

</div> <!--principal-->
{% endblock %}