{% load static %}
<footer>
    <div class="footer">
        <div class="contenedorfimg">
            <img src="{% static 'img/blog dev.gif'%}" alt="" srcset="">
            
        </div>
        <div class="contenedorf1">
            <ul>
                <h6>Informacion:</h6>
                <li>Inicio</li>
                <li>Nuevo blog</li>
                <li>Nosotros</li>
                
            </ul>
        </div>
        <div class="contenedorf2">
            <h6>Siguenos:</h6>
            <i class="bi bi-facebook" id="facebook"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-youtube"></i>
        </div>
        <div class="contenedorf3">
            <ul>
                <h6>Contactenos:</h6>
                <p>Blogdev@blogdev.com</p>
                <p>+57 3124567890</p>
                <p>Medellin-Colombia</p>
                
            </ul>
        </div>
        
    </div>

    <div class="derechos">
        <p>  &copy;  Copyright 2024 </p>
    <p>Todos los derechos reservados</p>
    </div>
    
    
</footer>