{% load static %}
<footer>
    <div class="footer">
        <div class="contenedorfimg">
            <img src="{% static 'img/blog dev.gif'%}" alt="" srcset="">
            
        </div>
        <div class="contenedorf1">
            <ul>
                <h6>Informacion:</h6>
                <li><a href="{% url 'home'  %}">Inicio</a></li>
                <li><a href="{% url 'crear_publicacion'  %}">Crear Blog</a></li>
                <li><a href="{% url 'nosotros'  %}">Nosotros</a></li>
                
            </ul>
        </div>
        <div class="contenedorf2">
            <h6>Siguenos:</h6>

            <a href="http://www.facebook.com" target="_blank" >
                <i class="bi bi-facebook" id="facebook"></i>
            </a>

            <a href="http://www.instagram.com" target="_blank" >
                <i class="bi bi-instagram"></i>
            </a>
            
            <a href="http://www.youtube.com" target="_blank" >
                <i class="bi bi-youtube"></i>
            </a>
        </div>
        <div class="contenedorf3">
            <ul>
                <h6>Contactenos:</h6>
                <li>Blogdev@blogdev.com</li>
                <li>+57 3124567890</li>
                <li>Medellin-Colombia</li>
                
            </ul>
        </div>
        
    </div>

    <div class="derechos">
        <p>  &copy;  Copyright 2024 </p>
    <p>Todos los derechos reservados</p>
    </div>
    
    
</footer>