{% extends "base.html" %}
{% block title %} HOme {% endblock %}
  {% block content %}
  {% load static %}
 
  
        <a href="{% url 'crear_publicacion'%}">crear</a>
        
        {% if publicaciones%}
              {% for publicacion in publicaciones %}
              
        <div class="cuadro">
          
                <h5>{{publicacion.autor}}</h5>
                <h6>{{publicacion.fecha_publicacion}}</h6>
                <a href="{% url 'descripcion' publicacion.id %}"> <h1>{{ publicacion.titulo }}</h1></a>
                <p>{{ publicacion.contenido|slice:":40"  }}...</p>
            
                {% endfor %}
                {% endif %}
          
        <div class="malparido"></div>

  </div>

  {% include "paginacion.html"%}
    {% endblock %}

   
    
    <h1>{{ publicacion.titulo }}</h1>
                  
                  
                  