{% load static %}
<header>
   
        <!-- <img src="{% static 'img/logo_size_invert.jpg' %}" alt="Ford 2024"> -->
        
        <h1>BlogDev</h1>
        <nav clas="nav">
        <a href="{% url 'home' %}" class="link">HOME</a>
        <a href="{% url 'crear_publicacion' %}" class="link">NUEVO</a>
        <a href="#" class="link">NOSOTROS</a>
        <input type="text" name="buscar" id="buscar" placeholder="ingresa nombre del blog">
        <button class="boton">Buscar</button>
        
    </nav>
</header>