{% load static %}
<header>
   
        <!-- <img src="{% static 'img/logo_size_invert.jpg' %}" alt="Ford 2024"> -->
        
        <img src="{% static 'img/blog dev.gif' %}" alt="logotipo">
        <nav clas="nav">
        <a href="{% url 'home' %}" class="link">Inicio</a>
        <a href="{% url 'crear_publicacion' %}" class="link">Nuevo Blog</a>
        <a href="{% url 'nosotros'%}" class="link">Nosotros</a>
        <input type="text" name="buscar" id="buscar" placeholder="ingresa nombre del blog">
        <button class="boton">Buscar</button>
       
    </nav>
</header>